"""App configuration for the core starter app."""

from django.apps import AppConfig


class CoreConfig(AppConfig):
    """Configuration for the {{ package_name }}.core app."""

    default_auto_field = "django.db.models.BigAutoField"
    name = "{{ package_name }}.core"
