{%- set use_biome = framework != "vue" -%}
{
  "recommendations": [{% if use_biome %}"biomejs.biome"{% else %}"dbaeumer.vscode-eslint", "esbenp.prettier-vscode"{% endif %}{% if framework == "vue" %}, "vue.volar"{% endif %}{% if with_tests %}, "vitest.explorer"{% endif %}]
}
