{%- set exts = [] -%}
{%- if typescript -%}{%- set _ = exts.append('"plugin:@typescript-eslint/recommended"') -%}{%- endif -%}
{%- if framework == "react" -%}
{%- set _ = exts.append('"plugin:react/recommended"') -%}
{%- set _ = exts.append('"plugin:react-hooks/recommended"') -%}
{%- elif framework == "vue" -%}
{%- set _ = exts.append('"plugin:vue/vue3-recommended"') -%}
{%- endif -%}
{%- set plugins = [] -%}
{%- if typescript -%}{%- set _ = plugins.append('"@typescript-eslint"') -%}{%- endif -%}
{%- if framework == "react" -%}
{%- set _ = plugins.append('"react"') -%}
{%- set _ = plugins.append('"react-hooks"') -%}
{%- elif framework == "vue" -%}
{%- set _ = plugins.append('"vue"') -%}
{%- endif -%}
{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true{% if with_tests %},
        "jest": true{% endif %}

    },
    "extends": [
        "eslint:recommended",
{%- for entry in exts %}
        {{ entry }},
{%- endfor %}
        "prettier"
    ],
{%- if framework == "vue" %}
    "parser": "vue-eslint-parser",
{%- endif %}
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
{%- if framework == "react" %},
        "ecmaFeatures": {
            "jsx": true
        }
{%- endif %}
{%- if typescript %},
        "parser": "@typescript-eslint/parser",
        "project": "./tsconfig.json"
{%- elif framework == "vue" %},
        "parser": "espree"
{%- endif %}

    }{% if plugins %},
    "plugins": [
{%- for entry in plugins %}
        {{ entry }}{% if not loop.last %},{% endif %}
{%- endfor %}

    ]{% endif %},
    "rules": {
        "no-console": "warn",
        "no-debugger": "error",
{%- if typescript %}
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            { "argsIgnorePattern": "^_" }
        ],
{%- else %}
        "no-unused-vars": [
            "error",
            { "argsIgnorePattern": "^_" }
        ],
{%- endif %}
{%- if framework == "react" %}
        "react/react-in-jsx-scope": "off",
        "react/prop-types": "off",
{%- elif framework == "vue" %}
        "vue/multi-word-component-names": "off",
{%- endif %}
        "prefer-const": "error",
        "no-var": "error",
        "no-eval": "error"

    }
{%- if framework == "react" %},
    "settings": {
        "react": {
            "version": "detect"
        }
    }
{%- endif %}

}
